@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
      @apply max-w-7xl mx-auto px-3 lg:px-0
  }
 .gradient-color {
    @apply bg-gradient-to-r from-primary/95 to-indigo/80;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-indigo bg-clip-text text-transparent
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}