@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .wrapper {
      @apply max-w-6xl mx-auto px-3 lg:px-0
  }
 .gradient-color {
    @apply bg-gradient-to-r from-primary to-primary;
  }

    .gradient-to-t {
    @apply bg-gradient-to-t from-[#ffffff] to-[#F0F7F3]
  }

    .gradient-to-r {
    @apply bg-gradient-to-r from-[#ffffff] to-[#F0F7F3]
  }

  .gradient-to-b {
    @apply bg-gradient-to-b  from-[#ffffff] to-[#F0F7F3]
  }


  .gradient-to-l {
    @apply bg-gradient-to-l from-[#ffffff] to-[#F0F7F3]
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-primary/70 bg-clip-text text-transparent
  }

  .icon-gradient {
    @apply bg-gradient-to-r from-secondary/90 to-secondary/50
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}


.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e4e2e3;
  border-radius: 999px;
  border: 1px solid #e4e2e3;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-in-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}